# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: test-notebooks

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    environment: ci
    env:
      CLIENT_SECRET: ${{ vars.CLIENT_SECRET}}
      TEST_USER: ${{ vars.TEST_USER}}
      TEST_PW: ${{ vars.TEST_PW}}


    steps:

    - uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: mkdir token
      run: |
        mkdir $HOME/.tz-feo

    - name: cURL an access token
      id: curlToken
      uses: satak/webrequest-action@master
      with:
        url: "https://${{vars.AUTH0_DOMAIN}}/oauth/token"
        method: POST
        payload: '{
          "client_id": "${{vars.CLIENT_ID}}",
          "username": "${{vars.TEST_USER}}",
          "password": "${{vars.TEST_PW}}",
          "realm": "Username-Password-Authentication",
          "client_secret": "${{secrets.CLIENT_SECRET}}",
          "scope": "openid permissions",
          "audience": "${{vars.AUTH0_AUDIENCE}}",
          "grant_type": "http://auth0.com/oauth/grant-type/password-realm"
        }'

    - name: response echo
      run: |
        echo '${{steps.curlToken.outputs.output}}' > $HOME/tmp.json

    - name: parse token from curl request
      run: |
        echo "$(jq '.data' $HOME/tmp.json)" > $HOME/.tz-feo/token.json

    - name: Test with pytest and capture coverage
      run: |
        pip install pytest nbmake
        pytest --nbmake feo-client-examples/*.ipynb
